


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@1,700&family=Roboto:wght@100&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/* Transition */

a, button{
    transition: all 0.3s ease;
}

/*Desktop Navbar */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh ;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5 rem;
}

a{
    color:black
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    
}

a:hover{
    color: grey;

    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo:hover{
    cursor: default;
}